<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>
<body onload="document.forms[0].submit();" style="visibility:hidden;">
<%
  target = @saml_destination || @saml_acs_url
  message = @saml_request || @saml_response || @saml_message
  target ||= message.destination if message.is_a?(SAML2::Message)
  message = Base64.encode64(message.to_s) unless message.is_a?(String)
%>
<%= form_tag(target) do %>
  <%= hidden_field_tag("SAMLRequest", message) if @saml_request || @saml_message.is_a?(SAML2::Request) %>
  <%= hidden_field_tag("SAMLResponse", message) if @saml_response || @saml_message.is_a?(SAML2::Response) %>
  <%= hidden_field_tag("RelayState", @relay_state) if @relay_state %>
  <%= submit_tag "Submit" %>
<% end %>
</body>
</html>
